body {
    background-image: url('/images/pngtree-fast-food-burger-fried-chicken-advertising-background-picture-image_2445022.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@font-face {
    font-family: Montserrat-Bold;
    src: url(/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-ExtraBold;
    src: url(/fonts/Montserrat-ExtraBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.navigation {
    background-color: rgb(8, 8, 8);
}

.nav-center {
    background-image: url('/images/бургер\ 1.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.text1 {
    font-size: 200px;
    color: rgb(252, 206, 4);
    margin-left: 300px;
    cursor: pointer;
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-family: Montserrat-ExtraBold;
}

.text2 {
    font-size: 170px;
    color: white;
    margin-left: 300px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-family: Montserrat-ExtraBold;
}

.nav-center>a {
    padding: 10px 20px;
    font-size: 28px;
    margin-bottom: 40px;
    background-color: #181818;
    color: white;
    border: none;
    border-style: solid;
    cursor: pointer;
    position: absolute;
    top: 70%;
    font-family: Montserrat-ExtraBold;
}


.up-navig {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(15, 15, 15);
    padding: 10px 20px;
    height: 50px;
}

.up-navig > a {
    font-size: 24px;
    color: white;
    padding: 10px;
    margin-left: 5px;
    font-family: Montserrat-ExtraBold;
}

.up-navig > a:hover {
    border-bottom: 2px solid rgb(252, 206, 4);
}

.up-navig > span {
    color: white;
    font-size: 24px;
    margin-left: auto;
    font-family: Montserrat-ExtraBold;
}

.up-navig>img {
    width: 70px;
    height: 70px;
}



@media (max-width: 768px) {
    .up-navig {
        flex-direction: column;
        align-items: flex-start;
    }

    .up-navig > a {
        margin: 5px 0;
        font-size: 18px;
    }

    .up-navig > span {
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .up-navig {
        padding: 10px;
    }

    .up-navig > a {
        font-size: 16px;
    }

    .up-navig > span {
        font-size: 18px;
    }
}